html {
    box-sizing: border-box;

}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;

    font-style: normal;
    background-color: var(--color-white);
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
}

::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #B0B0B0;
    letter-spacing: 3px;
}

:root {
    --color-violet: #9873FF;
    --color-violet-dark: #8052FF;
    --color-grey: #e5e5e552;
    --color-grey-light: #B0B0B0;
    --color-white: #fff;
    --color-dark: #333333;
    --color-light: #dddddd;
    --color-lighter: #eaeaea;
    --color-focus-red: rgba(220, 20, 73, 0.603);

}

.container {
    min-width: 768px;
    max-width: 1024px;
    padding: 30px 0;
    margin: 0 auto;
    position: relative;
}

.header {
    padding: 21px;
    display: flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.48);
    position: relative;
    z-index: 2;
}

.header_logo {
    margin-right: 53px;
}

.header_search {
    width: 100%;
}

.header_search-input {
    min-width: 90%;
    max-width: 580px;
    min-height: 43px;
    padding: 12px 16px;
    border-color: #33333333;
}

.clients {
    padding: 40px 20px;
    padding-bottom: 102px;
    background: var(--color-grey);
}

.clients_title {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 333px;
    background-color: var(--color-white);
    margin-bottom: 40px;
    overflow-y: auto;
    position: relative;
  /* overflow-y: hidden; */
}

.table_btn {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
}

.table_btn-svg-1 {
    position: absolute;
    transform: rotate(180deg);
    top: 16px;
    left: 27px;
}

.table_btn-svg-2 {
    position: absolute;
    transform: rotate(180deg);
    top: 16px;
    left: 160px;
}

.table_btn-svg-2-AZ {
    padding-left: 13px;
    font-weight: 600;
    font-size: 10px;
    color: var(--color-violet);
}

.table_btn-svg-3 {
    position: absolute;
    transform: rotate(180deg);
    top: 17px;
    left: 62px;
}

.table_btn-svg-4 {
    position: absolute;
    transform: rotate(180deg);
    top: 16px;
    left: 83px;
}

.table_btn-text {
    width: 82px;
    text-align: start;
}

.table_item-header {
    width: 100%;
    min-height: 33px;
    height: 33px;
    display: flex;
    align-items: center;
}

.table_item {
    width: 100%;
    min-height: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    background: var(--color-white);
    padding-left: 5px;
    border-bottom: 1px solid var(--color-grey-light);
}

.table_header {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-grey-light);
    background: var(--color-grey);
    height: 100%;
    padding-left: 12px;
    padding-bottom: 5px;
    align-items: flex-end;
}

.table_header:hover {
    background: rgb(0 0 0 / 6%);
}

.table-id {
    width: 12%;
    color: var(--color-violet);
}

.table-name {
    width: 20%;
}

.table-ceate-date {
    width: 16%;
    padding-right: 40px;
}

.table-change-date {
    width: 16%;
    padding-right: 40px;
}

.table-contacts {
    width: 14%;
    padding-right: 30px;
}

.tippy-tooltip.castom-theme {
    border-radius: 0;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;
    padding: 3px 10px;
}

.tippy-tooltip.castom-theme .tippy-arrow {
    transform: scaleX(0.5);
    border-width: 8px 8px 0;
}

.wrapper.table-contacts {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.show_contacts_btn {
    padding: 0;
    margin: 0;
    height: 16px;
    width: 16px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 50%;
    background: transparent;
    border: 1.5px solid var(--color-violet);
    cursor: pointer;
    display: flex;
    color: var(--color-dark);
    font-weight: 600;
    font-size: 8px;
    align-items: center;
    justify-content: center;
    transition: background .3s ease;
}

.show_contacts_btn:hover {
    background: rgba(161, 21, 204, 0.385);
}

.contacts_svg {
    margin-right: 4px;
    margin-bottom: 4px;
}

.contacts_svg:nth-child(n+5) {
    display: none;
}

.contacts_svg path {
    transition: fill .3s ease;
}

.contacts_svg:hover path {
    fill: rgb(81, 9, 96);
}


.svgtel circle {
    transition: fill .3s ease;
}

.svgtel:hover circle {
    fill: rgb(81, 9, 96);
}

.svgtel:hover path {
    fill: var(--color-white);
}

.table-options {
    width: 22%;
    height: 100%;
    padding-right: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-wrapper {
    justify-content: center;
}

.btn_add-client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175px;
    padding: 8px 26.5px;
    border: 1px solid var(--color-violet);
    color: var(--color-violet);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    transition: background-color .3s ease;
}

.btn_add-client:focus {
    border: 1px solid var(--color-focus-red);
}

.btn_add-client:hover,
.btn_add-client:active {
    background-color: #9873ff30;
    outline: none;
}

.grey_12 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: var(--color-grey-light);
}

.dark_14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: var(--color-dark);
}

.grey_14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: var(--color-grey-light);
}

/*    forms    */

/* add client */
.add__client-popup {
    background-color: #00000080;
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity .6s ease;
}

.add__client-box {
    background-color: var(--color-white);
    width: 450px;
    max-width: 450px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 25px 30px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity .6s ease, transform .6s ease;
}

.add__client-popup.open-popup .add__client-box {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.change__client_title_wrapper {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.client-title {
    align-self: flex-start;
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: var(--color-dark);
    margin-bottom: 30px;
    padding-right: 10px;
}

.change__client-id {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-grey-light);
    margin-bottom: 25px;
}

.btn-close {
    outline: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-close path {
    transition: stroke .2s ease, stroke-width .2s ease;
}

.btn-close:focus path {
    stroke: var(--color-focus-red);
    stroke-width: 2px;
}

.btn-close:hover path {
    stroke: var(--color-violet);
    stroke-width: 3px;
}

.btn-close:active path {
    stroke: var(--color-violet);
    stroke-width: 1px;
}

.add__client-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.change__client-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.form-input-box {
    position: relative;
    width: 100%;
    min-height: 30px;
    margin-bottom: 20px;
}

.form-input-box:last-child {
    margin-bottom: 25px;
}

.form-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-grey-light);
    position: absolute;
    transform: translateY(0px);
    transition: transform .3s ease;
}

.form-input-placeholder-span {
    color: var(--color-violet);
}

.form-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--color-light);
    outline: none;
}

.add__client_add_contact_btn {
    min-height: 35px;
    width: 450px;
    max-width: 450px;
    margin-bottom: 25px;
    background-color: var(--color-lighter);
    border: none;
    cursor: pointer;
    transition: background-color .2s ease;
    outline: none;
}

.add__client_add_contact_btn svg {
    margin-bottom: -2px;
}

.add__client_add_contact_btn:focus {
    background-color: var(--color-grey-light);
}

.add__client_add_contact_btn:hover {
    background-color: var(--color-light);
}

.change__client_add_contact_btn {
    min-height: 35px;
    width: 450px;
    max-width: 450px;
    margin-bottom: 25px;
    background-color: var(--color-lighter);
    border: none;
    cursor: pointer;
    transition: background-color .2s ease;
    outline: none;
}

.change__client_add_contact_btn svg {
    margin-bottom: -2px;
}

.change__client_add_contact_btn:focus {
    background-color: var(--color-grey-light);
}

.change__client_add_contact_btn:hover {
    background-color: var(--color-light);
}

/* change client */

.change__client-popup {
    background-color: #00000080;
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity .6s ease;
}

.change__client-box {
    background-color: var(--color-white);
    width: 450px;
    max-width: 450px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 25px 30px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity .6s ease, transform .6s ease;
}

.change__client-popup.open-popup .change__client-box {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* ------------------- */
.form-submit-btn {
    border: none;
    cursor: pointer;
    background-color: var(--color-violet);
    color: var(--color-white);
    padding: 14px 50px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 2px;
    margin-bottom: 8px;
    transition: box-shadow .1s ease;
    margin-top: 5px;
}

.form-submit-btn:focus {
    outline-offset: 2px;
    outline: 1px solid var(--color-focus-red);
}

.form-submit-btn:hover {
    box-shadow: 1px 1px 12px 1px rgba(171, 18, 231, 0.64);
}

.form-submit-btn-loading {
    border: none;
    cursor: no-drop;
    background-color: var(--color-violet-dark);
    color: var(--color-white);
    padding: 14px 50px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 2px;
    margin-bottom: 8px;
    transition: box-shadow .1s ease;
    position: relative;
}

.form-submit-btn-loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 60%;
    left: 30%;
    width: 12px;
    height: 12px;
    margin: -10px 0 0 -10px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #B89EFF;
    border-left-color: #B89EFF;
    border-bottom-color: #B89EFF;
    animation: spin 1s linear infinite;
}

.table__white_screen {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    border: none;
    cursor: no-drop;
    background-color: var(--color-white);
    display: none;
}

.table__white_screen-loading {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    border: none;
    cursor: no-drop;
    background-color: var(--color-white);
    display: flex;
}

.table__white_screen-loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 47%;
    left: 50%;
    width: 37px;
    height: 37px;
    background-image: url(../img/loading-Big.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 37px;
    /* transform-origin: bottom left; */
    /* margin: -10px 0 0 -10px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #B89EFF;
    border-left-color: #B89EFF;
    border-bottom-color: #B89EFF; */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.form-cancel {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid var(--color-dark);
    background-color: transparent;
    color: var(--color-dark);
    line-height: 14px;
    transition: color .2s ease;
}

.form-cancel:focus {
    outline-offset: 2px;
    outline: 2px solid var(--color-focus-red);
}

.form-cancel:hover {
    color: #9873ffb2;
}

/* delete table btns */
.table_option {
    height: 70%;
    width: 46%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 30px;
    background-color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 12px;
    transition:background-color .2s ease;
}

.table_option:hover {
    background-color: rgb(0 0 0 / 6%);
}

.table_delete {
    background-image: url(/img/delete.svg);
}

.table_change {
    background-image: url(/img/change.svg);
}

.table_option {
    height: 70%;
    width: 46%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 30px;
    background-color: transparent;
    position: relative;
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 12px;
}

.table_change {
    background-image: url(/img/change.svg);
}

.table_change-loading {
    background-image: none;
    color: var(--color-violet);
}

.table_change-loading:after {
    background-image: url(/img/loading-small.svg);
    content: "";
    display: block;
    position: absolute;
    top: 35%;
    left: 6%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
}

/* delete popup */

.delete__client-popup {
    background-color: #00000080;
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity .6s ease;
}

.delete__client-box {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 450px;
    min-height: 215px;
    padding: 22px 15px;
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity .6s ease, transform .6s ease;
}

.delete__client-title {
    align-self: center;
    margin-bottom: 11px;
}

.client-descr {
    display: inline-block;
    text-align: center;
    max-width: 275px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-dark);
}

.delete__client-popup.open-popup .delete__client-box {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    display: flex;
}


/* open popup class */
.open-popup {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.placeholder-up {
    transform: translateY(-20px);
}

/* form contact */
.form__contact__wrapper {
    width: 450px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-lighter);
    padding: 25px 30px 10px 30px;
}

.form__contact {
    width: 390px;
    max-width: 390px;
    height: 38px;
    display: flex;
    justify-content: center;
    min-height: 35px;
    border: none;
    margin-bottom: 15px;
}

.form__contact_selector {
    border: 1px solid var(--color-grey-light);
    width: 35%;
    outline: none;
    background-color: var(--color-light);
    font-weight: 400;
    font-size: 12px;
    color: var(--color-dark);
    padding: 5px 12px;
}

.choices {
    width: 35%;
    outline: none;
    background-color: var(--color-light);
    color: var(--color-dark);
    height: 38px;
    border-bottom: 1px solid var(--color-grey-light);
    border-radius: 0;
}

.choices:focus {
    border: 1px solid var(--color-dark);
}

.choices__inner {
    border: 1px solid var(--color-grey-light);
    border-radius: 0;
    width: 100%;
    outline: none;
    background-color: var(--color-light);
    font-weight: 400;
    font-size: 12px;
    color: var(--color-dark);
    height: 38px;
}


.form__contact-input-box {
    width: 265px;
    display: flex;
    flex-direction: column;
}

.form__contact-input {
    width: 239px;
    border: 1px solid var(--color-grey-light);
    border-radius: 0;
    margin-left: -1px;
    outline: none;
}

.contact-box {
    height: 40px;
    display: flex;
    margin-left: -1px;
}

.contact-box-btn {
    cursor: pointer;
    width: 27px;
    margin-left: -1px;
    background-image: url(../img/X-dell-btn.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    outline: none;
    border: 1px solid var(--color-grey-light);
    background-color: var(--color-light);
    transition: background-color .3s ease;
}

.contact-box-btn:focus {
    border: 1px solid var(--color-focus-red);
}

.contact-box-btn:hover,
.contact-box-btn:active {
    background-color: #9a75ff47;
}

.selector__button {
    position: relative;
    background-color: var(--color-light);
    border-color: var(--color-grey-light);
    border-width: 1px;
    padding: 15px;
    padding-right: 30px;
    font-size: 12px;
    color: rgb(15, 8, 8);
    transition: background-color .2s;
    cursor: pointer;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: start;
}

.selector__button:hover {
    background-color: rgba(255, 255, 255, .2);
}

.selector__button:active {
    background-color: rgba(127, 127, 127, 0.9);
}


.no--visible {
    display: none;
}

.visible {
    display: flex;
}

.rotate {
    transform: rotate(0deg)
}